.country-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.flag-container{
    margin-bottom: 30px;
}
.flag-container img{
    width:30px;
    margin-left: 25px;
    

}


@media screen and (max-width: 576px) {
    .country-container{
        grid-template-columns: repeat(1,1fr) ;
    }
}
@media screen and (min-width:577px) and (max-width: 768px) {
    .country-container{
        grid-template-columns:repeat(2 ,1fr )
    }
    
}